<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>떼떼떼</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    
    
    <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

   

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/mainone.jpg');"></div>
                <div class="carousel-caption">
                    <p>MT매니져'떼'</p>
                    <h3>열심히 떼지어 MT가세요</h3>
                    <h3>MT 내용은 떼가 만들게요</h3>
                    <a href="/introduction"><button class="btn btn-default" type="submit">더 알아보기</button></a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/mainthree.jpg');"></div>
                <div class="carousel-caption">
                    <p>MT매니져'떼'</p>
                    <h3>재미 있어야 MT다!</h3>
                    <h3>원하는 MT를 골라가세요!</h3>
                    <a href="/introduction"><button class="btn btn-default" type="submit">더 알아보기</button></a>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/maintwo.jpg');"></div>
                <div class="carousel-caption">
                    <p>MT매니져'떼'</p>
                    <h3>마시고 토하는 MT는 그만</h3>
                    <h3>MT도 변화할 때가 됐다!</h3>
                    <a href="/introduction"><button class="btn btn-default" type="submit">더 알아보기</button></a>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        

         <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/event1">
                                    <img class="img-portfolio img-responsive" src="https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/beach.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/event2">
                                    <img class="img-portfolio img-responsive" src="https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/festival.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/event3">
                                    <img class="img-portfolio img-responsive" src="https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/mukbang.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="portfolio-item">
                                <a href="/event4">
                                    <img class="img-portfolio img-responsive" src="https://s3.ap-northeast-2.amazonaws.com/yangoon1008/uploads/healing.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                    
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

       
        <hr>

       

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
